.breadcrumb {
    list-style-type: none;
    background-color: lightgray;
    padding: 0.5rem;
}

.breadcrumb li {
    display: inline;
    font-weight: 600;
}

.breadcrumb li a {
    color: blue;

}
.slush::before {
    content: "/";
    padding: 1rem;
}
