* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 8vh;
    width: 100%;
    background-color: red;
}

main {
    height: 80vh;
    width: 100%;
    background-color: yellow;
}

footer {
    height: 35vh;
    width: 100%;
    background-color: white;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 50px;
    list-style-type: none;
    padding-top: 20px;
    width: auto;
}

.footer-links li a {
    text-decoration: none;
    margin-right: 40px;
    color: grey;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 20px;
    list-style-type: none;
    padding-top: 20px;
    width: auto;
}

.social-links li a {
    text-decoration: none;
    margin-right: 20px;
}

.fa {
    padding: 3px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 1px;
}

.fa-facebook, .fa-linkedin {
    background-color: blue;
    color: white;
    border-radius: 50%;
    font-size: 15px;
}

.copyright {
    margin-top: 20px;
    text-align: center;
}

@media (max-width:640px) {
    .footer-links {
        flex-wrap: wrap;
    }
    .footer-links li {
        padding-top: 20px;
    }
    .footer-links li a {
        margin-right: 40px;
    }
    
}

