* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    height: 300px;
    width: 100%;
    background-color: black;
}
.description {
    margin-top: 60px;
    width: 60vw;
    color: white;
}
img {
    height: 300px;
    width: 350px;
    margin: 0;
}

.top {
    margin-top: 20px;
    height: 250px;
    width: 350px;
}

.blogcard {
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
}

span {
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    width: 350px;
    margin: 10px;
}

a {
    border:1px solid black;
    text-decoration: none;
    border-radius: 9999px;
    padding: 0px 10px;
    background-color: #713bdb;
    color: white;
    margin-left: 10px;
}

@media (max-width:640px) {
    header {
        max-width: 640px;
        flex-direction: column;
        height: fit-content;
        /* overflow: scroll; */
    }

    .blogcard {
        max-width: 640px;
        flex-direction: column;
    }
}
